* {
	font-family: 'Lato', sans-serif;
	color: #FFF;
	text-shadow: 1px 1px 3px #000;
}

body {
  background-image: url("http://i.imgur.com/8G6JM.jpg");
}

.container {
	margin: auto;
	display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.clock {
	display: table-cell;
  vertical-align: middle;
}

.clock > div:first-of-type {
	margin-left: auto;
  margin-right: auto;
  width: 41%;
  min-width: 524.8px;
}

.hour {
	display: inline-block;
	font-size: 145px;
	padding-right: 20px;
}

.time div:last-of-type  {
	display: inline-block;
	font-size: 70px;
	line-height: 65px;
	text-align: center;
} /* ampm_sec */

#date {
	font-size: 70px;
	opacity: 0.65;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	letter-spacing: 2px;
}

.sec {
	letter-spacing: 13px;
	padding-left: 13px;
}